<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- <add name="ac" connectionString="Server=ac.caadnb1h0kkx.us-west-2.rds.amazonaws.com; Port=3306; Database=ac; UID=SoporteCoreIT; PWD=C0r1t00$;" providerName="MySql.Data.MySqlClient" /> -->
    <!--<add name="ac" connectionString="server=127.0.0.1; Port=3306; Database=ac;" providerName="MySql.Data.MySqlClient" />
    <add name="con" connectionString="server=127.0.0.1;user id=root;password=root;database=ac" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>
  <!--  
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings: UnobtrusiveValidationMode " value="None"/>
    <add key="TokenizationAPI" value="https://vsafe1token.ecustomerpayments.com/GatewayV3ProxyJSON/Service"/>
    <add key="APIUsername" value="Recargasell"/>
    <add key="FingerprintAPI" value="https://fingerprint.ecustomerpayments.com"/>
    <add key="OPAYmerchantid" value="mw6uvdscixzveodo4hbz"/>
    <add key="OPAYpublickey" value="pk_a739c7615e244dffb23f9f6cadb6ce70"/>
  </appSettings>
  <!--/ To Send Mails From WebForms /-->
  <system.net>
    <!--<mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>-->
    <defaultProxy enabled="true"/>
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
  <!--/                          /-->
  <runtime>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0"/>
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
         which is necessary for OpenID urls with unicode characters in the domain/host name.
         It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All"/>
    <iriParsing enabled="true"/>
  </uri>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm"/>
        <remove value="Default.htm"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="index.php"/>
        <remove value="default.aspx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <add name="Cache-Control" value="no-cache, no-store"/>
        <add name="X-Frame-Options" value="DENY"/>
      </customHeaders>
    </httpProtocol>
    <httpRedirect enabled="false" destination="https://www.asicompras.com/index.aspx" exactDestination="true" childOnly="false" httpResponseStatus="Found"/>
  </system.webServer>
  <!--  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Isac1" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://asicompras.com/wsac/sac.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Isac1" contract="wsac.Isac" name="BasicHttpBinding_Isac1"/>
    </client>
  </system.serviceModel>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Isac">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_Isac1" />
        <binding name="wsMoonSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/asicomprasweb/wsac/sac.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Isac"
        contract="wsac.Isac" name="BasicHttpBinding_Isac" />
      <endpoint address="http://localhost/asicomprasweb/wsac/sac.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Isac1"
        contract="wsac.Isac" name="BasicHttpBinding_Isac1" />
    </client>
  </system.serviceModel>
</configuration>