<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- <add name="ac" connectionString="Server=ac.caadnb1h0kkx.us-west-2.rds.amazonaws.com; Port=3306; Database=ac; UID=SoporteCoreIT; PWD=_552732Aws;" providerName="MySql.Data.MySqlClient" /> -->
    <add name="ac" connectionString="Server=localhost; Port=2209; Database=ac; UID=root; PWD=_552732Aws;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>

    <!--development-->
    <!--<add key="wsRecargaSell" value="https://www.recargasyservicios.com/demo/Transact.asmx" />
    <add key="userrecsell" value="CorIT" />
    <add key="pwdrecsell" value="C0r1t00$" />-->
    <!--prod-->
    <add key="wsRecargaSell" value="https://www.venderecargas.com.mx/webservices/transact.asmx" />
    <add key="userrecsell" value="AsiCompras" />
    <add key="pwdrecsell" value="C0r1t2016" />
    <!--development-->
    <!--<add key="PaymentAPI" value="https://vsafesandbox.ecustomersupport.com/GatewayV3Proxy/Service"/>
    <add key="TokenizationAPI" value="https://vsafesandboxtoken.ecustomersupport.com/GatewayV3ProxyJSON/Service"/>
    <add key="FingerprintAPI" value="https://fingerprint.ecustomerpayments.com/ThreatMetrixUIRedirector"/>
    <add key="APIUsername" value="0GYr70UDpGr36sY020xHzQ=="/>
    <add key="APIPassword" value="8wZQEsfNFp0emvvNwIb+ItikGCnhdIIHxuPGvt8dxZ4E/Iv+IV+OBh+faO2HEmZv"/>
    <add key="MerchantRoutingID" value="SandboxCredit01"/>-->
    <!--prod-->
    <add key="PaymentAPI" value="https://vsafe1.ecustomerpayments.com/GatewayV3Proxy/Service" />
    <add key="TokenizationAPI" value="https://vsafe1token.ecustomerpayments.com/GatewayV3ProxyJSON/Service" />
    <add key="FingerprintAPI" value="https://fingerprint.ecustomerpayments.com/ThreatMetrixUIRedirector" />
    <add key="APIUsername" value="Recargasell" />
    <add key="APIPassword" value="vend-@RhJN$C5e&amp;96ZXZzj+iBdY3B-mN" />
    <add key="MerchantRoutingID" value="18000000000004475000" />
    <add key="SaltCryptoKey" value="35365464678680084688712" />
    <add key="PwdCryptoKey" value="@#$%65tygsyd656*()_)(*" />
    <add key="OPAYmerchantid" value="mw6uvdscixzveodo4hbz"/>
    <add key="OPAYprivatekey" value="sk_7b8a2644d2a04642a34f7b1220c66c18"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>